ASPNETCORE_ENVIRONMENT=Development
Processor_Wait_Period_Seconds=15


#-----------REDSHIFT----------
redshift_driver="Amazon Redshift (x64)"
redshift_host="<>.us-east-1.redshift.awazonaws.com"
redshift_port="5439"
redshift_database="<>"
redshift_user="<>"
redshift_secret="<>"
